.stackItem {
    background-color: transparent;
    border: solid 1px white;
    padding: 2px;
    color: white;
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    min-width: 20px;
    min-height: 20px;
}