.cmd {
    resize: none;
    outline: none;
    border: 3px black solid;
    background-color: black;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    font-family: 'Windows Command Prompt', sans-serif;
}